.button-container {
  margin: 10px 20px;

  .button {
    display: flex;
    // display: inline-block;
    padding: 10px 20px;
    font-weight: 700;
    color: #f3f4f6;
    background-color: #2563eb;
    border: 0;
    border-radius: 7px;
    cursor: pointer;
    line-height: 1;
  }
}
